<!-- This is an example launch file for how a ROS application could use a node -->
<launch>
    <include file="$(find audio_play)/launch/play.launch">
        <arg name="do_timestamp" value = "false"/> 
        <arg name="format" value = "wave"/>
        <arg name="sample_rate" value="22050"/>
    </include>
</launch>
