<!-- This is an example launch file for how a ROS application could use a node -->
<launch>
	<arg name="instance_id" default="default"/>
	<param name="instance_id" value="$(arg instance_id)"/>
	<rosparam file="$(find harmoni_decision)/config/misty_configuration.yaml"/>
    <node pkg="harmoni_speaker" type="speaker_service_misty.py" name="harmoni_speaker_$(arg instance_id)" output="screen"/>
    
</launch>
