opencv-python
packaging==19.1
soundfile
dlib
imutils
pyaudio
pyaml
empy
rospkg
catkin_pkg
catkin_tools
boto3
awscli
google-cloud-speech
dialogflow
google-api-python-client
pandas
dill
requests
schedule
func_timeout
datetimerange
wget
pytrees
imageai --upgrade
tensorflow==2.4.0