opencv-python
packaging==19.1
soundfile
dlib
imutils
pyaudio
pyaml
empy
rospkg
catkin_pkg
catkin_tools
boto3
awscli
google-cloud-speech
dialogflow
google-api-python-client
pandas
dill
requests
schedule
func_timeout
datetimerange
wget
pytrees
tensorflow==2.4.0
keras==2.4.3
pillow==7.0.0 
scipy==1.4.1
h5py==2.10.0 
matplotlib==3.3.2 
opencv-python 
keras-resnet==0.2.0
imageai --upgrade