<!-- This is an example launch file for how a ROS application could use a cordial_behavior -->
<launch>
	
	<arg name="use_manager" default="true"/>
  	<group if="$(arg use_manager)">
	<!-- Launch the children -->
		<include file="$(find cordial_face)/launch/face_client.launch"/>
		<include file="$(find qt_robot_gestures)/launch/gestures.launch"/>
		<include file="$(find qt_chest_camera)/launch/chest_camera.launch" />
		<include file="$(find qt_tracker)/launch/head_track.launch" />
		<include file="$(find qt_face_detector)/launch/face_detect.launch" />
	<!-- Launch the controller parents -->
		<include file="$(find cordial_logger)/launch/logger.launch" />
		<include file="$(find cordial_dialogue)/launch/dialogue.launch" />
		<include file="$(find cordial_behavior)/launch/behaviors.launch" />
		<include file="$(find cordial_tts)/launch/tts.launch" />
		<include file="$(find cordial_sensor)/launch/sensor.launch" />
		<include file="$(find cordial_detector)/launch/detector.launch" />
  	</group>


</launch>
