<!-- This is an example launch file for how a ROS application could use a node --> <launch>
	<arg name="use_gesture" default="true"/>
	<arg name="instance_id" default="default"/>
	<group if="$(arg use_gesture)">
			<rosparam file="$(find harmoni_gesture)/config/configuration.yaml" subst_value="True"/>
			<rosparam file="$(find harmoni_decision)/config/misty_configuration.yaml"/>
			<param name="/misty/default_param/path" value ="$(find harmoni_gesture)/data"/>
			<param name="instance_id" value="$(arg instance_id)"/>
			<node pkg="harmoni_gesture" type="gesture_service_misty.py" name="harmoni_gesture_$(arg instance_id)" output="screen"/>
			<node pkg="harmoni_gesture" type="misty_gesture_interface.py" name="harmoni_gesture_$(arg instance_id)_interface" output="screen"/>
	</group>
</launch>
