<!-- This is an example launch file for how a ROS application could use a node -->
<launch>
   
	<arg name="use_sensor" default="true"/>
  	<group if="$(arg use_sensor)">
			<rosparam file="$(find harmoni_decision)/config/configuration.yaml"/>
			<node pkg="harmoni_sensor" type="sensor_router.py" name="harmoni_sensor" output="screen"/>
  	</group>


</launch>
