<!-- This is an example launch file for how a ROS application could use a node -->
<launch>

   
	<arg name="service_to_use" default="facenet"/>
	<arg name="instance_id" default="default"/>
    
	<group if="$(eval service_to_use == 'facenet')">
        <include file="$(find harmoni_face_detect)/launch/face_detect_facenet_service.launch">
            <arg name="instance_id" value = "$(arg instance_id)"/> 
        </include>
    </group>

</launch>
