<!-- This is an example launch file for how a ROS application could use a node -->

<launch>
   
	<arg name="instance_id" default="default"/>

    <param name="name_face_detect" value="facenet"/>
	<param name="instance_id" value="$(arg instance_id)"/>
    <rosparam file="$(find harmoni_face_detect)/config/google_configuration.yaml" subst_value="True"/>

    <node pkg="harmoni_face_detect" type="facenet_service.py" name="harmoni_face_detect_$(arg instance_id)" output="screen"/>

</launch>