<launch>
    
	<arg name="instance_id" default="default"/>
	<param name="instance_id" value="$(arg instance_id)"/>
    <rosparam file="$(find harmoni_pytree)/config/configuration.yaml" subst_value="True"/>

    <!-- In order to launch visual_bg we need the following services from HARMONI -->
    <include file="$(find harmoni_speaker)/launch/speaker_service.launch"></include>
    <include file="$(find harmoni_tts)/launch/tts_service.launch"></include>
    <include file="$(find harmoni_bot)/launch/bot_service.launch"></include>
    <include file="$(find harmoni_face)/launch/face_service.launch"></include>
    <include file="$(find harmoni_stt)/launch/stt_google_service.launch"></include>
    <include file="$(find harmoni_microphone)/launch/microphone_service.launch"></include>
    <include file="$(find harmoni_camera)/launch/camera_service.launch"></include>
    <include file="$(find harmoni_imageai)/launch/custom_service.launch"></include>
    <!-- end services -->

    <node pkg="harmoni_pytree" type="interaction_bg.py" name="harmoni_pytree_$(arg instance_id)" output="screen"/>

</launch>