<!-- This is an example launch file for how a ROS application could use a node -->
<launch>
	<arg name="instance_id" default="default"/>
	<param name="instance_id" value="$(arg instance_id)"/>

    <rosparam file="$(find harmoni_tts)/config/configuration.yaml" subst_value="True"/>

    <param name="/polly/default_param/outdir" value="$(find harmoni_tts)/temp_data"/>
    <node pkg="harmoni_tts" type="aws_tts_service.py" name="harmoni_tts_polly_$(arg instance_id)" output="screen"/>
</launch>