<!-- This is an example launch file for how a ROS application could use a node -->
<launch>
	<arg name="service_to_use" default="aws"/>
	<arg name="instance_id" default="default"/>

    <group if="$(eval service_to_use == 'aws')">
        <include file="$(find harmoni_tts)/launch/tts_polly_service.launch">
            <arg name="instance_id" value = "$(arg instance_id)"/> 
        </include>
    </group>
</launch>
