<launch><include file="$(find hardware_microphone)/launch/microphone_service.launch"><arg name="test_id" value="default" /></include><include file="$(find hardware_camera)/launch/camera_service.launch"><arg name="test_id" value="default" /></include><include file="$(find hardware_face)/launch/face_service.launch"><arg name="test_id" value="default" /></include><include file="$(find hardware_speaker)/launch/speaker_service.launch"><arg name="test_id" value="default" /></include></launch>