<launch><include file="$(find harmoni_pattern)/launch/sequence_pattern.launch"><arg name="idle" value="true" /><arg name="pattern_name" value="idle" /></include><include file="$(find harmoni_pattern)/launch/sequence_pattern.launch"><arg name="code" value="true" /><arg name="pattern_name" value="code" /></include><include file="$(find harmoni_pattern)/launch/sequence_pattern.launch"><arg name="multiple_choice" value="true" /><arg name="pattern_name" value="multiple_choice" /></include><include file="$(find harmoni_pattern)/launch/sequence_pattern.launch"><arg name="display_image" value="true" /><arg name="pattern_name" value="display_image" /></include></launch>