<!-- This launch file invokes a python based launcher to dynamically launch the configured services  -->
<launch>
	<arg name="launch" default="true"/> <!--Set to false if you want to just create a launch file-->
	<!-- If you want to launch multiple services from different repos set service variable to 
            include both repos e.g. service:="harmoni,hardware", -->
	<arg name="service" default="hardware"/> 
		<node pkg="harmoni_decision" type="launcher.py" name="harmoni_launcher_$(arg service)" output="screen">
			<param name="service" value="$(arg service)"/>
			<param name="launch" value="$(arg launch)"/>
		</node>
</launch>
