<launch><include file="$(find pc_microphone)/launch/microphone_service.launch"><arg name="test_id" value="default" /></include><include file="$(find pc_face)/launch/face_service.launch"><arg name="test_id" value="default" /></include><include file="$(find pc_speaker)/launch/speaker_service.launch"><arg name="test_id" value="default" /></include></launch>