<!-- This is an example launch file for how a ROS application could use a node -->
<launch>
   
	<arg name="instance_id" default="default"/>
    <rosparam file="$(find harmoni_microphone)/config/configuration.yaml"/>
    <node pkg="harmoni_microphone" type="microphone_service.py" name="harmoni_microphone_$(arg instance_id)" output="screen"/>

</launch>
