<!-- This is an example launch file for how a ROS application could use a node -->
<launch>
   
	<arg name="use_aws_lex" default="true"/>
	<arg name="use_google" default="false"/>
	<arg name="test_id" default="default"/>
  	<group if="$(arg use_aws_lex)">
			<rosparam file="$(find harmoni_bot)/config/configuration.yaml"/>
			<param name="test_id_bot" value="$(arg test_id)"/>
			<param name="name_bot" value="lex"/>
			<node pkg="harmoni_bot" type="aws_lex_service.py" name="harmoni_bot_lex_$(arg test_id)" output="screen"  args="$(arg test) $(arg test_input) $(arg test_id)"/>
  	</group>
	<group if="$(arg use_google)">
			<rosparam file="$(find harmoni_bot)/config/configuration.yaml"/>
			<param name="test_id_bot" value="$(arg test_id)"/>
			<param name="name_bot" value="google"/>
			<node pkg="harmoni_bot" type="google_service.py" name="harmoni_bot_google_$(arg test_id)" output="screen"  args="$(arg test) $(arg test_input) $(arg test_id)"/>
  	</group>
</launch>
