html,
body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 1%;
    overflow: auto;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-align: center;
    font-size: 2vmin;
    background-color: white;
}

.container{
    height: 100%;
    width: 100%;
    margin: 0;
    text-align: center;
    max-width: 100vw;
}

.button_try{
    margin: auto;
    margin-top: 5%;
    text-align: center;
    width: 100%;
    aspect-ratio: 10/3;
    font-size: 4vmin;
}

div{
    margin: 0;
    text-align: center;
    
}

img{
    margin: auto;
    text-align: center;
    vertical-align: auto;
    width: 30%;
}

text{
    display: inline-block;
    margin: auto;
    text-align: center;
    vertical-align: auto;
    width: 40%;
}

img:hover {
    opacity: 0.5;
  }


.title{
    margin: auto;
    font-size: 4vmin;
    text-align: center;
}
