html,
body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 5%;
    overflow: hidden;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-align: center;
    font-size: 2vmin;
    background-color: white;
}

.container{
    height: 100%;
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
}

button{
    margin: auto;
    text-align: center;
}

div{
    margin: auto;
    text-align: center;
    
}

img{
    margin: auto;
    text-align: center;
    background-size: cover;
    vertical-align: auto;
    width: 100%;
    height: 100%;
}


img:hover {
    opacity: 0.5;
  }

.row, .col{
    margin: auto;
    text-align: center;
    width: 100%;
    height: 100%;
    display: contents;
}

.title{
    margin: auto;
    font-size: 3vmin;
    text-align: center;
}
