<!-- This is an example launch file for how a ROS application could use a node -->
<launch>
   
	<arg name="use_actuator" default="true"/>
  	<group if="$(arg use_actuator)">
			<rosparam file="$(find harmoni_decision)/config/configuration.yaml"/>
			<node pkg="harmoni_actuator" type="actuator_router.py" name="harmoni_actuator" output="screen"/>
  	</group>


</launch>
