body,
p,
.container,
.scroller,
.col-4,
.col-8,
.row {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 100vw;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-size: xx-large;
    font-family: 'B612', sans-serif;
    text-align: center;
}

.background {
    background-image: url("../../assets/imgs/abstract_blue.jpg");
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: lighten;
    background-size: cover;
}

input {
    border-radius: 4vh;
    padding: 2vh 5vw 2vh 5vw;
    margin: 2vh;
    text-align: center;
    white-space: normal;
    background: whitesmoke;
}

input.timepicker {
    width: 40vw;
    text-align: center;
}

#black {
    background-color: black;
}

#black,
#col-1,
#col-2 {
    display: none;
}

#col-2-left p {
    padding-left: 10%;
    padding-right: 5%;
    text-align: justify;
}

#col-2-right {
    text-align: left;
}

#col-2-right input {
    width: 25vw;
}

.scroller {
    overflow-y: scroll;
    max-height: 70vh;
}

.scroller::-webkit-scrollbar {
    width: 3vw;
}

.scroller::-webkit-scrollbar-track {
    display: none;
}

.scroller::-webkit-scrollbar-thumb {
    background: #add8e6;
    border-radius: 3vw;
}

.scroller::-webkit-scrollbar-thumb:hover {
    background: blue;
}

.slider {
    -webkit-appearance: none;
    width: 60vw;
    height: 4vh;
    border-radius: 2vh;
    background: #FFFFFF;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background: #0000A0;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}