<!-- This is an example launch file for how a ROS application could use a node -->
<launch>
   
	<arg name="instance_id" default="default"/>
	<param name="instance_id" value="$(arg instance_id)"/>
    <rosparam file="$(find harmoni_stt)/config/w2l_configuration.yaml"/>
    <node pkg="harmoni_stt" type="w2l_service.py" name="harmoni_stt_$(arg instance_id)" output="screen"/>

</launch>
