<!-- This is an example launch file for how a ROS application could use a node -->
<launch>
   
	<arg name="service_to_use" default="google"/>
	<arg name="instance_id" default="default"/>
    
	<group if="$(eval service_to_use == 'w2l')">
        <include file="$(find harmoni_stt)/launch/stt_w2l_service.launch">
            <arg name="instance_id" value = "$(arg instance_id)"/> 
        </include>
    </group>
	<group if="$(eval service_to_use == 'google')">
        <include file="$(find harmoni_stt)/launch/stt_google_service.launch">
            <arg name="instance_id" value = "$(arg instance_id)"/> 
        </include>
    </group>    

	<group if="$(eval service_to_use == 'deepspeech')">
        <include file="$(find harmoni_stt)/launch/stt_deepspeech_service.launch">
            <arg name="instance_id" value = "$(arg instance_id)"/> 
        </include>
    </group>

</launch>
