<!-- This is an example launch file for how a ROS application could use a node -->
<launch>
   
	<arg name="use_aws_lex" default="true"/>
  	<group if="$(arg use_aws_lex)">
			<rosparam file="$(find harmoni_lex)/config/configuration.yaml"/>
			<node pkg="harmoni_lex" type="aws_lex_service.py" name="harmoni_lex" output="screen"/>
  	</group>


</launch>
