<!-- This is an example launch file for how a ROS application could use a node -->
<launch>
   
	<arg name="use_aws_lex" default="true"/>
	<arg name="test" default="false"/>
	<arg name="input_test" default="Hey"/>
	<arg name="id_test" default="default"/>
  	<group if="$(arg use_aws_lex)">
			<rosparam file="$(find harmoni_lex)/config/configuration.yaml"/>
			<param name="test" value="$(arg test)"/>
			<param name="input_test" value="$(arg input_test)"/>
			<param name="id_test" value="$(arg id_test)"/>
			<node pkg="harmoni_lex" type="aws_lex_service.py" name="harmoni_lex" output="screen"  args="$(arg test) $(arg input_test) $(arg id_test)"/>
  	</group>


</launch>
