<launch>
  <arg name="use_tts" default="false"/>
  <arg name="robot_name"/>
  <arg name="serial_port"/>
  <arg name="phrase_file" default=""/>
  <arg name="behavior_file"/>
  <arg name="zeros"/>
  <arg name="voice" default="Ivy"/>
  <arg name="ivona_access_key" default=""/>
  <arg name="ivona_secret_key" default=""/>
  <arg name="delay" default="0.0"/>
  <node name="cordial_player" pkg="cordial_core" type="player.py" output="screen" ns="$(arg robot_name)" args="-f -v $(arg voice) -d $(arg delay) -p $(arg phrase_file) -t -k1 $(arg ivona_access_key) -k2 $(arg ivona_secret_key)" if="$(arg use_tts)"/>
   <node name="cordial_player" pkg="cordial_core" type="player.py" output="screen" ns="$(arg robot_name)" args="-f -v $(arg voice) -d $(arg delay) -p $(arg phrase_file)" unless="$(arg use_tts)"/>
  <include file="$(find cordial_sprite)/launch/movement.launch">
     <arg name="robot_name" value="$(arg robot_name)"/>
     <arg name="serial_port" value="$(arg serial_port)"/>
     <arg name="behavior_file" value="$(arg behavior_file)"/>
     <arg name="zeros" value="$(arg zeros)"/>
  </include>
</launch>
