<launch>
  <arg name="robot_name"/>
  <arg name="serial_port"/>
  <arg name="behavior_file"/>
  <arg name="zeros"/>
  <node name="sprite_movement_server" pkg="cordial_sprite" type="sprite_control_node.py" output="screen" ns="$(arg robot_name)" args="-n $(arg robot_name) -p $(arg serial_port) -b $(arg behavior_file) -z $(arg zeros)"/>
  <include file="$(find cordial_sprite)/launch/robot_frames.launch">
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>
  <node name="cordial_sound" pkg="cordial_sound" type="soundplay_node.py" output ="screen" ns="$(arg robot_name)"/>
  <node name="sprite_cordial_server" pkg="cordial_sprite" type="sprite_cordial_node.py" output="screen" ns="$(arg robot_name)"/>
  
  <include file="$(find cordial_face)/launch/face.launch">
  	   <arg name="name" value="$(arg robot_name)"/>
  </include>
</launch>
