<!-- This is an example launch file for how a ROS application could use a cordial_behavior -->

<launch>
	
   	
	<arg name="use_logger" default="true"/>
  	<group if="$(arg use_logger)">
    		<node pkg="cordial_logger" type="recorded_data.py" name="logger" output="screen"/>
			<include file="$(find cordial_logger)/launch/rosbag_launcher.launch" />
  	</group>


</launch>
