<launch>
  <arg name="record_cameras" default="true" />
  <arg name="record_microphones" default="true" />
  <arg name="record_qt_state" default="true" />

 <!--<node pkg="rosbag" type="record" name="rosbag_record_cam"
       args="record -o /media/qtrobot/Micol Backup/rosbag_data/qt-cameras /cordial/chest_camera/video"
       if="$(arg record_cameras)" />-->

<node pkg="rosbag" type="record" name="rosbag_record_mic"
       args="record -o /media/qtrobot/Micol-Study/EmpiricalStudy/rosbag_data/qt-microphones /audio/channel0 /sound_direction /audio /audio_respeaker"
       if="$(arg record_microphones)" />

 <node pkg="rosbag" type="record" name="rosbag_record_robot_state"
       args="record -o /media/qtrobot/Micol-Study/EmpiricalStudy/rosbag_data/qt-robotstate /qt_nuitrack_app/faces /qt_nuitrack_app/gestures /qt_nuitrack_app/hands /qt_nuitrack_app/skeletons /qt_robot/joints/state /qt_robot/motors/states"
       if="$(arg record_qt_state)" />

 <node pkg="rosbag" type="record" name="rosbag_record_diag"
       args="record -o /media/qtrobot/Micol-Study/EmpiricalStudy/rosbag_data/qt-diag /diagnostics /rosout"/>   
</launch>