<!-- This is an example launch file for how a ROS application could use a node -->
<launch>
   
	<arg name="use_routers" default="true"/>
  	<group if="$(arg use_routers)">
			<include file="$(find harmoni_actuator)/launch/actuator_router.launch" />
			<include file="$(find harmoni_dialogue)/launch/dialogue_router.launch" />
			<!--<include file="$(find harmoni_detector)/launch/detector_router.launch" />
			Detector is not launched because no detector has been implemented yet--> 
			<include file="$(find harmoni_sensor)/launch/sensor_router.launch" />
  	</group>


</launch>
