<!-- This is an example launch file for how a ROS application could use a node -->
<launch>
	<arg name="use_harmoni_services" default="true"/>
	<arg name="use_pc_services" default="true"/>

  	<group if="$(arg use_harmoni_services)">
			<include file="$(find harmoni_tts)/launch/aws_tts_service.launch" />
			<include file="$(find harmoni_lex)/launch/aws_lex_service.launch" />
			<include file="$(find harmoni_web)/launch/web_service.launch" />
  	</group>
	<group if="$(arg use_pc_services)">
			<include file="$(find pc_face)/launch/face_service.launch" />
			<include file="$(find pc_microphone)/launch/microphone_service.launch" />
			<include file="$(find pc_speaker)/launch/speaker_service.launch" />
			<include file="$(find pc_camera)/launch/camera_service.launch" />
  	</group>
</launch>
