<launch>
  <include file="$(find cordial_tablet)/launch/websocket.launch" />
  <include file="$(find cordial_sprite)/launch/cordial_sprite.launch">
    <arg name="robot_name" value="DB1"/>
    <arg name="serial_port" value="/dev/ttyACM0"/>
    <arg name="use_tts" value="true"/>
    <arg name="delay" value="0.5"/>
    <arg name="phrase_file" value="$(find cordial_example)/speech/phrases.yaml"/>
    <arg name="ivona_access_key" value="YOUR KEY HERE"/>
    <arg name="ivona_secret_key" value="YOUR KEY HERE"/>
    <arg name="behavior_file" value="$(find cordial_example)/CoRDial_behaviors.json"/>
    <arg name="zeros" value="1500 1360 1560 1500 1560 1560"/>
  </include>
</launch>
