<launch>
  <arg name="use_tts" default="false"/>
  <arg name="robot_name" value="DB1"/>
  <arg name="phrase_file" value="$(find cordial_example)/speech/phrases.yaml"/>
  <arg name="behavior_file" value="$(find cordial_example)/CoRDial_behaviors.json"/>
  <arg name="voice" default="Ivy"/>
  <arg name="delay" default="0.5"/>

  <node name="cordial_sprite" pkg="cordial_sprite" type="dummy_robot_node.py" output="screen" ns="$(arg robot_name)" args="-b $(arg behavior_file)"/>

  <node name="cordial_player" pkg="cordial_core" type="player.py" output="screen" ns="$(arg robot_name)" args="-f -v $(arg voice) -d $(arg delay) -p $(arg phrase_file)" unless="$(arg use_tts)"/>

  <node name="cordial_sound" pkg="cordial_sound" type="soundplay_node.py" output ="screen" ns="$(arg robot_name)"/>

  <node name="robot_only" pkg="cordial_example" type="robot_only.py" output="screen"/>
  
  <include file="$(find cordial_face)/launch/face.launch">
      <arg name="name" value="$(arg robot_name)"/>
  </include>


</launch>
