#back_video, #back_video_idle, #main_img_alt, #back_video_sr, #back_video_ret {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }


#start_button{
  width: 60%;
}

#sr_2{
  width: 20%;
}


#sr{
  width: 60%;
}

#insert_code, #idle_div{
    text-align: center;
    margin: 15vmin 0 15vmin 0;
}

#sentence_repetition_container{
  overflow-y: scroll;
}

.overlay{
    position: fixed;
    color: #f1f1f1;
    width: 100%;
    margin: auto;
}

p{
    font-size: 7vmin;
    margin: auto;
}

input{
    border-radius: 2em;
    border-color: black;
    width: 10vmin;
    height: 7vmin;
    text-align: center;
    font-size: 3vmin;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.disabled{
  pointer-events:none;
  opacity: 50%;
}