@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
html,
body {
    height: 100%;
    max-height: 100%;
    width: 100%;
    margin: auto;
    overflow: hidden;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 2vmin;
    background-color: green;
    overflow-y: scroll;
}


a{
    display: flex;
    width: 33%;
}

.container{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 15px;
}

button{
    margin: auto;
    text-align: center;
}

div{
    margin: auto;
    text-align: center;
    
}

img{
    margin: auto;
    text-align: center;
    vertical-align: auto;
    width: 100%;
    height: 100%;
}


/*img:hover {
    opacity: 0.5;
}*/

.row{
    margin: auto;
    text-align: center;
    width: 100%;
    max-width: 80%;
}

.col{
    margin: auto;
    text-align: center;
    height: 100%;
}

.title{
    margin: auto;
    font-size: 3vmin;
    text-align: center;
    color: aliceblue;
}

#first_img, #second_img, #third_img{
    margin: 0;
    display: inherit;
}