<!-- This is an example launch file for how a ROS application could use a node -->
<launch>
   
	<arg name="use_microphone" default="true"/>
  	<group if="$(arg use_microphone)">
			<rosparam file="$(find harmoni_stt)/config/configuration.yaml"/>
			<node pkg="harmoni_stt" type="py_test_inference.py" name="stt" output="screen"/>
  	</group>
    
</launch>
