<!-- This is an example launch file for how a ROS application could use a node -->
<launch>
   
	<arg name="use_aws_tts" default="true"/>
  	<group if="$(arg use_aws_tts)">
			<rosparam file="$(find harmoni_tts)/config/configuration.yaml"/>
			<node pkg="harmoni_tts" type="aws_tts_service.py" name="harmoni_tts" output="screen"/>
  	</group>


</launch>
