<!-- This is an example launch file for how a ROS application could use a node -->
<launch>
   
	<arg name="use_aws_tts" default="true"/>
	<arg name="test" default="false"/>
	<arg name="input_test" default="'My name is HARMONI'"/>
	<arg name="id_test" default="default"/>
  	<group if="$(arg use_aws_tts)">
			<rosparam file="$(find harmoni_tts)/config/configuration.yaml"/>
			<param name="test" value="$(arg test)"/>
			<param name="input_test" value="$(arg input_test)"/>
			<param name="id_test" value="$(arg id_test)"/>
			<node pkg="harmoni_tts" type="aws_tts_service.py" name="harmoni_tts" output="screen"/>
  	</group>


</launch>
